<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>저녁 메뉴 추천</title>
    <style>
        body {
            text-align: center;
            font-size: large;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <span style="font-size:xx-large">오늘의 저녁메뉴 추천</span>
    <div>{{ menu }}</div>
    <div><img src='{{ img }}' width="350px" height="350px"></div>
</body>
</html>